{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">

       <!-- <div class="span2"></div>-->

        <div class="col-md-4">
            <h1>Warum ist vandr?</h1>
            <br>
            <p align="justify"> Manche Wahlen schreiben Geschichte. Der Brexit-Entscheid zum Beispiel wird die Zukunft Großbritanniens auf Jahrzehnte bestimmen. Für Österreich bestimmt die heurige Bundespräsidentenwahl welchen Weg das Land einschlägt. Zur Wahl stehen ein deutschnationaler Ideologe und ein weltoffener Staatsmann. Zur Wahl stehen vor allem ein ängstliches, abgeschottetes, verarmtes Land und ein selbstbewusstes, offenes, wachsendes Österreich. Für uns ist die Wahl klar: Alexander Van der Bellen muss Bundespräsident werden. </p>
        </div>

        <div class="col-md-4">
            <h1>Wer ist vandr?</h1>
            <br>

            <p align="justify"> Wir sind eine Gruppe junger Europäer, denen Österreich am Herzen liegt.  Wir sind in einem friedlichen, vereinten Europa groß geworden und wollen nicht, dass <a href="https://www.youtube.com/watch?v=S5h5RJpiKsw">das was erreicht wurde</a>, wieder aufgegeben wird: Wir wollen keine innereuropäischen Grenzkontrollen, wir wollen, dass unsere Kinder in Europa ihre Ausbildung machen, wir wollen starke, demokratische europäische Institutionen, die unsere Werte, unseren Lebensstil und unser Gesellschaftsmodell in der Welt vertreten und verteidigen. Das Leben unserer Großeltern wollen wir nicht. </p>
        </div>
        <!--<div class="col-md-4">-->
            <!--<h2>Wofür gibts Punkte?</h2>-->
            <!--<br>-->

            <!--<table class="table align-top">-->
                <!--<thead></thead>-->
                <!--<tr><td>Punkte für eine unverfizierte Spende (Maximal 3 unverifzierte Spenden zählen zu den Punkten)</td><td>5 </td></tr>-->
                <!--<tr><td>Punkte pro eingelandenem Freund</td><td>10 </td></tr>-->
                <!--<tr><td>Punkte wenn du dich bei der offiziellen Van der Bellen Kampagne anmeldest</td><td>20 </td></tr>-->
            <!--</table>-->
            <!--<p> Du erhältst auch einen Anteil aller Punkte, die von von dir eingeladedenen Freunde gemacht wurden.-->
                <!--So spread the word ;-) </p>-->
            <!--<p class="text-info well">Coming soon: Grossmutter überzeugen VDB zu wählen</p>-->
        <!--</div>-->

        <div class="col-md-4">
            <h1>Was ist vandr?</h1>
            <br>
            <p align="justify"> Vandr ist ein Spiel. Alle, die sich für VdB einsetzen, können mitspielen. Jeder Beitrag zum Wahlkampf wird mit Punkten belohnt. Bis zum Wahltermin werden dir Aktionen auf vandr vorgeschlagen: deine Großmutter und deinen Freund überzeugen, einen kleinen Betrag spenden, tweeten, liken, aktiv werden. Mit einer breiten Bewegung gewinnen wir wieder. Im Dezember gewinnt Österreich, gewinnt Europa, gewinnt die UserIn mit den meisten Punkten eine geile Überraschung. </p>
            <br>
            <p>Hoppauf! Es steht viel auf dem Spiel.</p>
        </div>

    </div>
</div>


{% endblock %}

