{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
          <h1>Wie funktioniert vandr?</h1>
          <p>Dein Einsatz für Alexander Van der Bellen wir mit Punkten belohnt. </p>
            <p>Um mit zu spielen drücke einfach auf <li><a href="pickname">Signup</a></li>
            und erstelle dir einen Account.</p>
            <h1> Spielregeln und Punkteschlüssel</h1>
            <ul class="list-unstyled">
            <li> 5 Punkte für eine unverfizierte Spende (Maximal 3 unverifzierte Spenden zählen zu den Punkten)
            <li> 10 Punkte pro eingelandenem Freund
            <li> 20 Punkte wenn du dich bei der offiziellen Van der Bellen Kampagne anmeldest
           </li>
            </ul>
        </div>
        <div class="span2"></div>
    </div>
</div>


{% endblock %}

