{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8">

			<big><strong><p>
				Viel Spass mit vandr!</p></strong></big>

				<br>
				<h2>Impressum</h2>

<!-- 				<h3>Gemäss §§ 24, 25 Medieng
					<br>Informationen Gem § 5 Ecg</h3> -->
					<br>

					<h4>Medieninhaber & Herausgeber
						<sup data-text="Gemäss §§ 24, 25 Medieng / Informationen Gem § 5 Ecg">*</sup>
					</h4>
					<p>Hier Autoren einfügen</p>

					<br>
					<h5>Adressen</h5>
					<p>Hier eine Adresse einfügen</p>

					<br>
					<h4>Grundlegende Richtung des Mediums
						<sup data-text="Gemäss §§ 24, 25 Medieng / Informationen Gem § 5 Ecg">*</sup>
					</h4>
					<p>Unterstützung des Wahlkampfes von Dr. Alexander Van der Bellen für die Bundespräsidentschaftswahl 2016.</p>

					<br>
					<h5><sup>*</sup>Gemäss §§ 24, 25 Medieng / Informationen Gem § 5 Ecg</h5>


				</div>
				<div class="span2"></div>
			</div>
		</div>     {% endblock %}

