{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <h1>Du willst uns schreiben?</h1>
            <p>Wir freuen uns über Fragen, Feeback, bug reports, Ideen und Komplimente.</p>
          <ul class="list-unstyled">
          <li>Erreichen kannst Du uns unter: vandr punkt sparta at gmail dot com</li>
          </ul>
        </div>
        <br>
        <div class="span8">
            <h1>Du willst mithelfen, vandr besser zu machen?</h1>
            <p>vandr soll mit seinen Nutzern wachsen. Du willst vandr lustiger oder schöner machen? Du hast Lust auf webapp-Entwicklung oder web-Design? Wir freuen uns sehr, von Dir zu hören!</p>
          <ul class="list-unstyled">
          <li>Wieder einfach per mail an: vandr punkt sparta at gmail dot com</li>
          </ul>
        </div>
        <div class="span2"></div>
    </div>
</div>

{% endblock %}

